/Frontend/node_modules
/Frontend/frontend/node_modules
/Mobile/node_modules
/Backend/node_modules
/node_modules
/Backend/BenificiaryVerificaion/pretrained_weights
/Backend/BenificiaryVerificaion/data
/Backend/BenificiaryVerificaion/test_images
/Backend/BenificiaryVerificaion/test_images

/BenificiaryVerificaion/test_images
/BenificiaryVerificaion/pretrained_weights
/BenificiaryVerificaion/data
/BenificiaryVerificaion/trash
/BenificiaryVerificaion/client/node_modules
/BenificiaryVerificaion/client/temp


