/Frontend/node_modules
/Frontend/frontend/node_modules
/Mobile/node_modules
/Backend/node_modules
/node_modules
/BenificiaryVerificaion/client/node_modules
/BenificiaryVerificaion/pretrained_weights
/BenificiaryVerificaion/data